<div class="list-group mb-3">
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
(click)="onS">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ recipe.name }}</h5>
      <small class="text-muted">A day ago</small>
    </div>
    <p class="mb-1">{{ recipe.description }}</p>
    <small class="text-muted"><i>Click to view details</i></small>
    <span class="float-right">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
  </a>
</div>
